@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*   border: 1px solid red; */
}

::selection {
  background: #ed4c64;
  color: #fbeee8;
}

body {
  font-family: "Big Shoulders Display", "Roboto", sans-serif;
  font-weight: 700;
  background: #bad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  margin-bottom: 2rem;
  display: flex;
  align-self: center;
}

.input,
.btn {
  padding: 0.4rem;
  border: none;
}

.btn {
  padding: 0 1rem;
}

.list {
  border-radius: 3px;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.color__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.color__box {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: tomato;
  overflow: hidden;
  position: relative;

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color__box:hover::after {
   font-family: "Font Awesome 5 Free"; font-weight: 400; 
  font-size: 1.5rem;
  content: "\f0c5";
  color :white;
  background: transparent;
    border-radius: 50%;
  z-index: 100;

  position: absolute;
  cursor: pointer;
  padding: 5rem;
  
      top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
  
    /* content: "";
    background: #776565ab;
    cursor: pointer;
    z-index: 1;
    width: 64px;
    height: 64px;
    margin: 0 auto; */
}
.color__text {
  opacity: 0;
  padding: 0.8rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
  user-select: all;


  border: none;
  background: none;
  font-family: "Big Shoulders Display", "Roboto", sans-serif;
  text-align: center;

}
/* 
.fa-copy {
  opacity: 0;
  font-size: 1.5rem;
  color: white;
  position: absolute;
  z-index: 100;
} */

.color__box:hover .fa-copy{
  opacity: 1;
}

.color__box:hover ~ .color__text {
  opacity: 1;
}
.color__box:hover {
    opacity: 0.3;
  background: red;

}
